# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Go
*.db
*.db-shm
*.db-wal
server
infra/vecspace-infra
infra/vectorspace-infra

# Coverage
coverage/

# IDE
.idea/
.vscode/

# Node
node_modules/
dist/
.astro/

# Env
.env
